@using MVCPractice.Models
@model  Employee
    @{
        ViewBag.Title = "Index";
    }

<br />
<br />
<br />
    <form action="~/Example/employeeTransfer">
        <input name="name" />
        <input name="age" type="number" />
        <input type="submit" name="submit" />
    </form>
    <p>@Model.name</p>
    <p>@Model.age</p>
    