@model string
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<div>
    <form action="ThomasHello" method="post">
        <input name="inputString" placeholder="Name" />
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>
