@model double
@{
    ViewBag.Title = "UnitConverter";
}

<h2>UnitConverter</h2>
<div>
    <input type="number" value="@Model." step="any">
    <input name="submit" type="submit"/>
    <p id="feet">Inches: @Model</p>
</div>